body {
  margin: 0;
  padding: 0 10px;
  font-size: 16px;
  text-align: center;
  font-family: "Arial", sans-serif;
}
h1 {
  font-size: 34px;
}
.menu {
  margin-bottom: 16px;
  display: flex;
}
.menu span {
  padding: 3px 0;
  flex-basis: auto;
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
  background-color: #666666;
}
.menu span:hover {
  background: #191919;
}
span.menu-active {
  background: #191919;
}
.digits {
  margin-bottom: 20px;
  display: flex;
}
.digits span {
  padding: 25px 0;
  flex-basis: auto;
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  border-radius: 15px;
  color: #fff;
}
.digits_moved_down {
  background-color: #c03;
}
.digits_moved_up {
  background-color: #29abe2;
}
.chartContainer {
  min-height: 350px;
  min-width: 50px;
}
