
h2{
    padding: 20px;
}
.bg{
    background-image: url("/img/book.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
    background-attachment: fixed;
}

.perfil{
    margin-left: 155%;
}

#btnPesquisar{
    
    margin-left: -25px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.pesquisa{

    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
    width: 1000px;
    padding: 10px;
    
}

#inputPesquisa{
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

#alerta{
    visibility: hidden;
    width: auto;
    height: auto;
}

#alertaAdd{
    visibility: hidden;
    width: auto;
    height: auto;
    position: fixed;
}

.container{
    margin-top: 100px;
}

#grid{
    margin-top: 450px;
    display: grid;  
    grid-template-columns: repeat( 5, 1fr);
    grid-gap: 40px;
    text-align: center;
    margin-left:40px;
    margin-right: 40px;
}

#grid2{

    margin-top: 55px;
    display: grid;  
    grid-template-columns: repeat( 5, 1fr);
    grid-gap: 40px;
    text-align: center;
    margin-left:40px;
    margin-right: 40px;
    
}

.form-group{
    padding: 5px;
}

.fav{
    height: 38px;
    width: 38px;
    position:absolute;
    left: 86%;
}

.voltar{
    margin-left: 40px;
    margin-bottom: -20px;
    position: relative;
}
#estrela{
    
    margin-bottom: 5px;
}

#book{

    margin-left: 10px;
}

.backupGrid{

    justify-content: space-around;
    background-color: white;
    margin-top: 300px;
    display: grid;
    margin-left:40px;
    margin-right:40px;
    grid-template-columns: repeat( 4, 1fr);
    grid-gap: 40px;
    text-align: center;
}

#thumb{
  
  height: auto;
  width: auto;
  
}

.av{
    margin-top: -15px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.estrelas{
    top: -15px;
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin:5px 25px;
    position: relative;
}

.estrelas input {

    display: none;
}
  
.estrelas > label {

    width: 30px;
    height: 30px;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
}
 
.estrelas label:hover {

    color:rgb(206, 146, 34);
    
    transition: 0.2s ease;
}
  
.estrelas label::before {

    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
}
  
.estrelas input:checked ~ label:before {

    content:'\2605';
}
  
  