
.bg{
    background-image: url("book.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
    background-attachment: fixed;
}
.pesquisa{

    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
    width: 1000px;
    padding: 10px;
}

#alerta{
    visibility: hidden;
    width: auto;
}

#grid{

    margin-top: 450px;
    display: grid;  
    grid-template-columns: repeat( 5, 1fr);
    grid-gap: 40px;
    text-align: center;
    margin-left:40px;
    margin-right: 40px;
}

#grid2{

    margin-top: 100px;
    display: grid;  
    grid-template-columns: repeat( 5, 1fr);
    grid-gap: 40px;
    text-align: center;
    margin-left:40px;
    margin-right: 40px;
}

#fav{
    height: 38px;
    width: 38px;
    position:absolute;
    left:86%;
}

#estrela{
    
    margin-bottom: 5px;
}

#book{

    margin-left: 10px;
}

/*
#card{
  background-color: brown;
  
}

p,h5{
    color: white;
}

*/
.backupGrid{
    margin-top: 200px;
   justify-content: space-around;

   background-color: white;
    margin-top: 300px;
    display: grid;
    margin-left:40px;
    margin-right:40px;
    grid-template-columns: repeat( 4, 1fr);
    grid-gap: 40px;
    text-align: center;
}

#thumb{
    
  height: auto;
  width: auto;
  
}






