
.bg{
    background-image: url("book.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
    background-attachment: fixed;
   
}
.pesquisa{

    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
    width: 1000px;
    padding: 10px;
}

#resultados{
    margin-top: 50%;
    visibility: hidden;
}

#alerta{
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 6em;

}

#elemento{
    margin-top: 200px;
   
}

#thumb{
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}
p{
    margin-bottom: 10px;
    display: inline;
}



